In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('C:/Users/User/Soft Computing/Assignment 2/Dataset/Dataset A/training-a.csv')#reading csv
#df = df[['filename', 'digit']]#dropping the columns
df

,filename,original filename,scanid,digit,database name original,contributing team,database name
0,a00000.png,Scan_58_digit_5_num_8.png,58,5,BHDDB,Buet_Broncos,training-a
1,a00001.png,Scan_73_digit_3_num_5.png,73,3,BHDDB,Buet_Broncos,training-a
2,a00002.png,Scan_18_digit_1_num_3.png,18,1,BHDDB,Buet_Broncos,training-a
3,a00003.png,Scan_166_digit_7_num_3.png,166,7,BHDDB,Buet_Broncos,training-a
4,a00004.png,Scan_108_digit_0_num_1.png,108,0,BHDDB,Buet_Broncos,training-a
...,...,...,...,...,...,...,...
19697,a19697.png,Scan_81_digit_4_num_3.png,81,4,BHDDB,Buet_Broncos,training-a
19698,a19698.png,Scan_70_digit_3_num_6.png,70,3,BHDDB,Buet_Broncos,training-a
19699,a19699.png,Scan_253_digit_8_num_4.png,253,8,BHDDB,Buet_Broncos,training-a
19700,a19700.png,Scan_27_digit_3_num_6.png,27,3,BHDDB,Buet_Broncos,training-a
19701,a19701.png,Scan_91_digit_8_num_2.png,91,8,BHDDB,Buet_Broncos,training-a

In [11]:
keep_col = ['filename','digit']
new_df = df[keep_col]
new_df.to_csv("training-a-modified.csv",header=False, index=False)

In [12]:
df2=pd.read_csv('training-a-modified.csv')
df2

       a00000.png  5
0      a00001.png  3
1      a00002.png  1
2      a00003.png  7
3      a00004.png  0
4      a00005.png  4
...           ... ..
19696  a19697.png  4
19697  a19698.png  3
19698  a19699.png  8
19699  a19700.png  3
19700  a19701.png  8

[19701 rows x 2 columns]